@page "/animace1"

<PageTitle>Animace základ</PageTitle>

<div class="container">
	<div class="postava" style="@Postava.Style">
		<p class="postavaPopis">@Postava.Jmeno</p>
		<img src="@Postava.Obrazek" alt="Obrázek postavy" style="width:100%; position:relative" />
	</div>
</div>
@code {

}
